*{
    margin: 0;
    padding:0;
}
.header-container{
    background-color:#333333;
    height:300px;
}
.todo-title{
    color: yellow;
    text-align: center;
    height: 100px;
    font-size: 5em;
    margin: 5px;
    margin-bottom: 75px;
}
.main-input{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px;
}
.text-input{
    width:400px;
    height: 3em;
    border: none;
    margin:5px;
    border-radius: 5px;
}
.btn{
    width: 100px;
    height:3em;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    padding: 0.67em;
    cursor: pointer;
}
.btn-add{
    background-color: #0DFF76;
    border-color: aqua;
}
.btn:hover{
    background-color: rgba(0, 255, 255, 0.641);
    border-color: rgba(0, 255, 255, 0.641);
}
.section-container{
    background-color:#4A4443;
    position: fixed;
    top:300px;
    bottom: 0;
    right:0;
    left:0;
    display: flex;
    justify-content: center;
}
ul{
    list-style-type: none;
}
.btn-progress{
    background-color:#0DFF76;
    border-color: aqua;
}
.btn-delete{
    background-color: #0DFF76;
    border-color: aqua;
}